:root {
    --persianBlue: "#3762FC";
    --persianBlue60: "#87A1FD";
    --persianBlue20: "#D7E0FE";
    --black: "#000000";
    --grey1: "#2A323C";
    --grey2: "#697D96";
    --grey3: "#93ABC1";
    --grey4: "#C2D2E7";
    --grey6: "#E5EEF9";
    --grey7: "#F3F7FB";
    --grey8: "#92A4BB";
    --white: "#FFFFFF";
    --negative1: "#D43A3A";
    --negative2: "#F6D8D8";
    --negative3: "#FBEBEB";
    --warning1: "#D89E08";
    --warning2: "#F7ECCE";
    --warning3: "#FBF5E6";
    --orange: "#F06A12";
    --permutationBoard: "#C9D1DB";
    --wireframeLine: "#734C99";
    --positive1: "#22B967";
    --positive2: "#D3F1E1";
    --positive3: "#E9F8F0";
    --mayaBlue: "#69CBE4";
    --mayaBlue60: "#9BE0EF";
    --mayaBlue20: "#DEF5FA";
    --neutralGrey: "#D4E0F0";
    --neutralGrey3: "#93A8C1";
    --tertiaryYellow: "#F0AB44";
    --tertiaryMagenta: "#F15E79";
    --secondary_MayaBlue: "#59CBE4";
}

.box-activity {
    padding: 0px 16px 16px 16px;
    background-color: var(--white);
}

.nav-activity {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: space-between;
}

.text-activity {
    font-size: 24px;
    font-family: Bold;
    color: var(--grey1);
}

.history {
    margin-top: 4px;
    width: 24px;
    height: 24px;
}

.button-head {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: bold;
}

.head-box {
    width: 50%;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey3);
    cursor: pointer;
}

.head-text {
    color: var(--neutralGrey3);
}

.head-active {
    color: var(--persianBlue);
}